### Strategy:

- Remove the duplicate entries
- No Null value treatment required as all the unknown values have been in the categorical fields and they have already been taken as a separate category. Can't drop these category values because of they being a good percentage of the dataset.
- Although some fields are highly skewed towards left with long tails, but these being continuous, there doesn't seem to be any outlier occurring and hence can be ignored.
- Create a test dataset and keep it aside

In [6]:
import pandas as pd

# full dataset import
df = pd.read_csv("../dataset/bank-additional/bank-additional-full.csv", delimiter=';')
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [8]:
# remove duplicate entries
df = df.drop_duplicates()
df.__len__()

41176

In [9]:
# save the cleaned dataset copy 
import os 

DM_name = "Data_Manipulation_datasets"
os.makedirs(f"../mount/{DM_name}", exist_ok=True)

df.to_csv(f"../mount/{DM_name}/full_cleaned_dataset.csv", index=False)

In [27]:
# creating a test dataset and keeping it aside 

from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2, random_state=42)

train.to_csv(f"../mount/{DM_name}/train.csv", index=False)
test.to_csv(f"../mount/{DM_name}/test.csv", index=False)

In [28]:
train.__len__(), test.__len__()

(32940, 8236)